

.row-pannel {
    padding: 0 14px; justify-content:space-between; display: flex;
}

.truncate{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}