// tbody {
//     height: 300px !important;
//     overflow-y: auto;
//     width:fit-content;
//     display:block;
//   }

.clickable {
  cursor: pointer;
  width: 300px;
}

.table-fix-head {
  overflow-y: auto;
  height: 300px;
  padding-top: 0;
}

.table-fix-head thead th {
  position: sticky;
  top: 0;
  background-color: white;
}

.table-fix-head-hide-scrolled {
  height: 20px;
  background-color: white;
  z-index: 999;
  padding: 0;
  width: 100%;
  margin-bottom: -1px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: solid 0.5px lightgray;
}
