.detail-container{
    border-radius: 10px;
    border: solid 0.5px lightgray;
    padding: 20px;
}

th, td {
    text-align: center;
}


.click-to-add {
    cursor: pointer;
    align-self: center; margin: 0 3px;
    background-color: lightgray;
    border: solid 0.1px gray;
    padding: 2px;
}



.clickable {
    cursor: pointer;
    width: 300px;
}