
<div class="row" style="justify-content:space-between">
    <h1 class="w-auto">Mission Recipes > {{wpType?.name}} </h1>
    <div class="w-auto" style="text-align: right; margin-bottom: 6px;">
        <button  class="btn btn-lg btn-outline-dark"  (click)="openDocs()" >
                  Documentation
        </button>
    </div>
</div>

<pre>{{wpType?.description}}</pre>

<div class="card mb-3 row">
    <div class="card-header">
         Orchestrator Matrix 
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Step</th>
                    <th>request order</th>
                    <th>service type</th>
                    <!-- <th> agent calc. order </th> -->
                    <th>step dependencies</th>
                    <th> apply step result </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of wpServPlan" (click)="getItem(item.id)"
                    [ngClass]="{selectedHighlight: item.id===selectedItem?.id}">
                    <th scope="row">{{item.step}}</th>
                    <td>{{item.requestOrder}}</td>
                    <td>{{item.serviceType}}</td>
                    <!-- <td>{{item.agent}}</td> -->
                    <td>{{item.dependsOnSteps}}</td>
                    <td>{{item.isResultAssignment}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div style="text-align: right; margin-bottom: 10px;">
    <button class="btn btn-primary" (click)="create()" type="submit">Add</button>
    <button class="btn btn-danger" (click)="deleteItem()"  type="submit">Delete</button>
</div>



<section class="detail-container" *ngIf="selectedItem" >

        <h4>STEP {{selectedItem.step}}</h4>

        <form role="form"  style="margin: 0 auto; max-width: 1000px;">

            <div class="row" >
                    <fieldset class="form-group col-xl-3">
                        <label for="step">Step</label>
                        <input id="step" class="form-control" [(ngModel)]="selectedItem.step" name="step" />
                    </fieldset>


                    <fieldset class="form-group col-xl-3" title='You can create Service Types in "Microservices"'>
                        <label for="serviceType">Service Type</label>
                        <select id="serviceType" class="form-control form-select" [(ngModel)]="selectedItem.serviceType" name="serviceType">
                            <option *ngFor="let servType of availableServiceTypes" [value]="servType"> {{servType}}</option>
                        </select>
                    </fieldset>


                    <fieldset class="form-group  col-xl-6">
                        <label for="isResultAssignment">Service response</label>
                        <div class="radio">
                            <label for="optionsRadios1" title="result will be used as assignment or yard update.">
                                <input [checked]="selectedItem.isResultAssignment" id="optionsRadios1" (click)="changeRadio(true)" name="true" type="radio"  />
                                apply step result.
                            </label>
                        </div>
                        <div class="radio">
                            <label for="optionsRadios2" title="result will be used by subsequent microservice.">
                                <input [checked]="!selectedItem?.isResultAssignment" id="optionsRadios2" name="isResultAssignment" (click)="changeRadio(0)" type="radio" /> 
                                is an intermediate step.
                            </label>
                        </div>
                    </fieldset>
            </div>

            

            <div class="row" >
                <fieldset class="form-group col-xl-2">
                    <label for="requestOrder">Service Order</label>
                    <input id="requestOrder" class="form-control" [(ngModel)]="selectedItem.requestOrder" name="requestOrder"  type="number" />
                </fieldset>
<!-- 
                <fieldset class="form-group col-xl-3">
                    <label for="agent">Agent calc. Order</label>
                    <input id="agent" class="form-control" [(ngModel)]="selectedItem.agent" name="agent" type="number" />
                </fieldset> -->

                <fieldset class="form-group col-xl-6">
                    <label for="avlbSteps">Add Step Dependencies</label>
                    <div class="row">
                        <select id="avlbSteps" class="form-control form-select" style="width: 20%;" [(ngModel)]="addedDep" name="avlbSteps" >
                            <option *ngFor="let avlbSteps of availableSteps" [value]="avlbSteps"> {{avlbSteps}}</option>
                            <option value=""> </option>

                        </select> 
                        <div class="click-to-add " style="width: 5%;" (click)=addDependency(addedDep)> >> </div>
                        <input class="form-control " style="width: 65%;" [(ngModel)]="selectedItem.dependsOnSteps" name="dependsOnSteps" />
                    </div>

                </fieldset>

                <fieldset (mouseover)="showAssignmentTip=2" (focus)="showAssignmentTip=2" class="form-group col-xl-4" >
                    <label for="waitDependenciesAssignments"> Wait dependencies assignments </label> 
                    <input id="waitDependenciesAssignments" title="acknowledgeReservation" id="waitDepAssignments" type="checkbox" style="height:38px; width: 40px;" class="form-control form-check-input" 
                            [(ngModel)]="selectedItem.waitDependenciesAssignments" name="waitDependenciesAssignments" />
                </fieldset>



            </div>


            <div class="row" >
                <fieldset class="form-group col-xl-12" >
                    <label for="_defaultConfig"> Server Config data </label>  
                    <label for="_defaultConfig" style="margin-left: 20px;" title="it will clear your custom config."> 
                        <input id="_defaultConfig" type="checkbox" [(ngModel)]="selectedItem._defaultConfig"  name="_defaultConfig">
                         use the default for this service. 
                    </label>

                    <textarea class="form-control" [(ngModel)]="selectedItem.serviceConfig" name="serviceConfig" [readonly]="selectedItem._defaultConfig"
                    ></textarea>
                </fieldset>
            </div>


            <button class="btn btn-primary" type="submit"  (click)="editItem(selectedItem)">Save</button>
            <button class="btn btn-secondary" type="reset" (click)="getItem(selectedItem.id)">Cancel </button>

        </form>

</section>
