// tbody {
//     height: 300px !important;
//     overflow-y: auto;
//     width:fit-content;
//     display:block;
//   }


.tableFixHead          { overflow-y: auto; height: 300px; padding-top: 0px ; }
.tableFixHead thead th { position: sticky; top: 0; background-color: white; }
.tableFixHeadHideScrolled { height:20px;
                             background-color: white;
                             z-index: 999;
                             padding: 0px;
                              width: 100%;
                               margin-bottom: -1px;
                               margin-left: 20px;
                               margin-right: 20px;
                                border-bottom: solid 0.5px lightgray;}



.clickable {
    cursor: pointer;
    width: 300px;
}