<nav [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }" class="sidebar">
  <div class="list-group">
    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/accounts']" class="list-group-item">
      <i class="fa-solid fa-fw fa-users"></i>&nbsp;
      <span>{{ 'Register Apps' | translate }}</span>
    </a>

    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/yards']" class="list-group-item">
      <i class="fa-solid fa-fw fa-warehouse"></i>&nbsp;
      <span>{{ 'Register Yards' | translate }}</span>
    </a>

    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/yardmap']" class="list-group-item">
      <i class="fa-solid fa-fw fa-map-location-dot"></i>&nbsp;
      <span>{{ 'Map Objects' | translate }}</span>
    </a>

    <div class="nested-menu">
      <a
        (click)="addExpandClass('agents')"
        class="list-group-item"
        [routerLink]="['/agents-registry']"
        [routerLinkActive]="['router-link-active']">
        <span>{{ 'Agents' | translate }}</span>
      </a>
      <li [class.expand]="true" class="nested">
        <ul>
          <li>
            <a
              [routerLinkActive]="['router-link-active']"
              [routerLink]="['/vehicles-registry']"
              class="list-group-item">
              <i class="fa-solid fa-fw fa-truck"></i>&nbsp;
              <span>{{ 'Vehicles' | translate }}</span>
            </a>
            <a [routerLinkActive]="['router-link-active']" [routerLink]="['/tools-registry']" class="list-group-item">
              <i class="fa-solid fa-fw fa-trailer"></i>&nbsp;
              <span>{{ 'Tools & Trailers' | translate }}</span>
            </a>
            <a
              [routerLinkActive]="['router-link-active']"
              [routerLink]="['/chargeStations-registry']"
              class="list-group-item">
              <i class="fa-solid fa-fw fa-charging-station"></i>&nbsp;
              <span>{{ 'Charge Stations' | translate }}</span>
            </a>
            <a
              [routerLinkActive]="['router-link-active']"
              [routerLink]="['/assistants-registry']"
              class="list-group-item">
              <i class="fa-solid fa-fw fa-robot"></i>&nbsp;
              <span>{{ 'Assistants' | translate }}</span>
            </a>
            <a [routerLinkActive]="['router-link-active']" [routerLink]="['/agents']" class="list-group-item">
              <i class="fa-solid fa-fw fa-dashboard"></i>&nbsp;
              <span>{{ 'Track Agents' | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>

    <div class="nested-menu">
      <a
        (click)="addExpandClass('pages')"
        [routerLink]="['/work-processes']"
        class="list-group-item"
        [routerLinkActive]="['router-link-active']">
        <i class="fa-solid fa-cogs"></i>&nbsp;
        <span>{{ 'Register Missions' | translate }}</span>
      </a>
      <li [class.expand]="showMenu === 'pages'" class="nested">
        <ul class="submenu">
          <li><a> Mission Recipes:</a></li>
          <li>
            <a *ngFor="let wpType of wpTypes" href="javascript:void(0)" [routerLink]="['/work-processes', wpType.id]">
              <i class="fa-solid fa-cog"></i>&nbsp;
              <span>{{ wpType.name | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>

    <a [routerLink]="['/all-services']" class="list-group-item" [routerLinkActive]="['router-link-active']">
      <i class="fa-solid fa-cubes"></i>&nbsp;
      <span>{{ 'Microservices' | translate }}</span>
    </a>

    <div class="nav-divider"></div>

    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/dispatch-processes']" class="list-group-item">
      <i class="fa-solid fa-fw fa-paper-plane"></i>&nbsp;
      <span>{{ 'Dispatched Missions' | translate }}</span>
    </a>

    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/dispatch-services']" class="list-group-item">
      <i class="fa-solid fa-fw fa-server"></i>&nbsp;
      <span>{{ 'Dispatched Services' | translate }}</span>
    </a>

    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/agent-assignments']" class="list-group-item">
      <i class="fa-solid fa-fw fa-play-circle"></i>&nbsp;
      <span>{{ 'Agent Assignments' | translate }}</span>
    </a>

    <div class="nav-divider"></div>

    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/run-lists']" class="list-group-item">
      <i class="fa-solid fa-fw fa-list"></i>&nbsp;
      <span>{{ 'Mission Queues' | translate }}</span>
    </a>

    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/system-log']" class="list-group-item">
      <i class="fa-solid fa-fw fa-clipboard-list"></i>&nbsp;
      <span>{{ 'System Log' | translate }}</span>
    </a>

    <div class="header-fields">
      <a (click)="rltAndLtr()" class="list-group-item">
        <span><i class="fa-solid fa-arrows-h"></i>&nbsp; RTL/LTR</span>
      </a>
      <div class="nested-menu">
        <a (click)="addExpandClass('languages')" class="list-group-item">
          <span><i class="fa-solid fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
        </a>
        <li [class.expand]="showMenu === 'languages'" class="nested">
          <ul class="submenu">
            <li>
              <a (click)="changeLang('en')" href="javascript:void(0)">
                {{ 'English' | translate }}
              </a>
            </li>
            <li>
              <a (click)="changeLang('fr')" href="javascript:void(0)">
                {{ 'French' | translate }}
              </a>
            </li>
            <li>
              <a (click)="changeLang('ur')" href="javascript:void(0)">
                {{ 'Urdu' | translate }}
              </a>
            </li>
            <li>
              <a (click)="changeLang('es')" href="javascript:void(0)">
                {{ 'Spanish' | translate }}
              </a>
            </li>
            <li>
              <a (click)="changeLang('it')" href="javascript:void(0)">
                {{ 'Italian' | translate }}
              </a>
            </li>
            <li>
              <a (click)="changeLang('fa')" href="javascript:void(0)">
                {{ 'Farsi' | translate }}
              </a>
            </li>
            <li>
              <a (click)="changeLang('de')" href="javascript:void(0)">
                {{ 'German' | translate }}
              </a>
            </li>
          </ul>
        </li>
      </div>
      <div class="nested-menu">
        <a (click)="addExpandClass('profile')" class="list-group-item">
          <span><i class="fa-solid fa-user"></i>&nbsp; Administrator</span>
        </a>
        <li [class.expand]="showMenu === 'profile'" class="nested">
          <ul class="submenu">
            <li>
              <a href="javascript:void(0)">
                <span><i class="fa-solid fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span><i class="fa-solid fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span><i class="fa-solid fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
              </a>
            </li>
            <li>
              <a (click)="onLoggedout()" [routerLink]="['/login']">
                <span><i class="fa-solid fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
              </a>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </div>
  <div (click)="toggleCollapsed()" [ngClass]="{ collapsed: collapsed }" class="toggle-button">
    <i class="fa-solid fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i>&nbsp;
    <span>{{ 'Collapse Sidebar' | translate }}</span>
  </div>
</nav>
