<div class="row" style="padding: 0 14px; justify-content:space-between">
    <h1>Mission Assistants</h1>
    <div style="text-align: right; margin-bottom: 6px;">
        <button class="btn btn-lg btn-outline-dark" (click)="openDocs()">
            Documentation
        </button>
    </div>
</div>

<p>
Mission assistants are software tools that can retrieve data and send commands directly to the agents via RabbitMQ. 
<br>
They can be optionally employed to help agents to complete their assignments.
For example, an assistant can manage the traffic by issuing commands to control the agents velocities.</p>

<div class="card mb-3">
    <div class="card-header" style="display:flex; justify-content:space-between">
        <div>Assistants</div>
        <div class="clickable" (click)="list()">
            <span class="reload">&#x21bb;</span>
            <span> RELOAD  </span>
        </div>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>UUID</th>
                    <th>msg/sec  <br> <span style="font-size: smaller;"> 1 to 30 Hz </span> </th>
                    <th>db updts/sec  <br> <span style="font-size: smaller;"> 1 to 5 Hz </span> </th>
                    <th>yardId</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tools" (click)="getItem(item.id)"
                    [ngClass]="{selectedHighlight: item.id==selectedItem?.id}">
                    <td>{{item.id}}</td>
                    <th scope="row">{{item.agentType}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.uuid}}</td>

                    <td [ngClass]="{'bg-danger': (item.msgPerSec > 30 && item.connectionStatus === 'online')}" title="Optimal: 10Hz." >
                        {{item.msgPerSec | number:'1.2-2' }}
                    </td> 
                    <td [ngClass]="{'bg-danger': item.updtPerSec > 5}"  title="Optimal: < 2 Hz" >
                        {{item.updtPerSec | number:'1.2-2' }}
                    </td> 
                    <td>{{item.yardId}}</td>
                    <td>{{item.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-footer" style="display:flex;justify-content:space-between">
        <div *ngIf="selectedItem" class="col-xl-9 row" style="align-items: center;">
            <div>Instant Action Command</div>
            <div class="col-xl-6" ><input class="form-control" style="margin:0 6px; width: 100%;" placeholder="type your command" [(ngModel)]="instantActionCommand" name="instantAction" /></div>
            <button class="btn"  (click)="sendInstantAction()"> SEND </button>
        </div>
    
        <div *ngIf="!selectedItem" class="form-group row col-xl-6">
        </div>
    
        <div style="text-align: right; margin-bottom: 10px;">
            <button class="btn btn-primary" (click)="create()" type="submit">Add</button>
            <button class="btn btn-danger"  (click)="deleteItem(selectedItem.id)" type="submit">Delete</button>
        </div>
    </div>


</div>


<div *ngIf="selectedItem">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
            <a ngbNavLink>Details</a>
            <ng-template ngbNavContent>
                <section class="detail-container " *ngIf="selectedItem">
    
            <h4>{{selectedItem.name}}</h4>

            <form role="form" style="margin: 0 auto; max-width: 1000px;">
                <h5>Identification</h5>
                <div class="field-group"> 

                <div class="row">
                    <fieldset class="form-group col-xl-3">
                        <label>Name</label>
                        <input class="form-control" [(ngModel)]="selectedItem.name" name="name" />
                    </fieldset>

                    <fieldset class="form-group col-xl-6">
                        <label> UUID</label>
                        <input class="form-control" [(ngModel)]="selectedItem.uuid" name="uuid"
                            placeholder="0000-0000-0000-0000" />
                    </fieldset>

                    <fieldset class="form-group col-xl-2">
                        <label>yard id</label>
                        <input type="number" class="form-control" [(ngModel)]="selectedItem.yardId" name="yardId"
                            placeholder="db index" />
                    </fieldset>
                </div>

                <div  class="row" style="height: 100px;">

                    <fieldset class="form-group col-xl-3">
                        <label> type </label>
                        <input class="form-control"  [(ngModel)]="selectedItem.agentType" name="agentType" placeholder="e.g traffic-ctrl" />
                    </fieldset>
                                

                </div>



                <div class="row">
                    <fieldset class="form-group col-xl-12">
                        <label> Publick key (PEM) </label>
                        <textarea class="form-control" rows=8 [(ngModel)]="selectedItem.publicKey" name="publicKey"
                            placeholder="-----BEGIN PUBLIC KEY-----"></textarea>
                    </fieldset>
                </div>

                <div class="row">

                    <fieldset class="form-group" style="margin-left: 15px; display:flex; align-items: center;" >
                        <input   id="verifySignature" type="checkbox" style="height:38px; width: 40px; margin-right: 10px;"
                                class="form-control" 
                                [(ngModel)]="selectedItem.verifySignature" name="verifySignature" />
                        <label> Use this Publick key to validate the RSA signature of the agent. </label> 

                    </fieldset>
                </div>

                </div>

                <br>

                <h5>Mission settings</h5>
                <div class="field-group"> 

                <div  class="row" style="height: 100px;">

                    <fieldset (mouseover)="showAssignmentTip=1" class="form-group col-xl-3">
                        <label > Accept assignments </label> 
                        <input title="isActuator?" id="agentCheckbox" type="checkbox" style="height:38px; width: 40px;" class="form-control" 
                                [(ngModel)]="selectedItem.isActuator" name="isActuator" />
                    </fieldset>

                    <fieldset (mouseover)="showAssignmentTip=2"class="form-group col-xl-3" >
                        <label> Acknowledge reservation </label> 
                        <input  title="acknowledgeReservation" id="agentCheckbox" type="checkbox" style="height:38px; width: 40px;" class="form-control" 
                                [(ngModel)]="selectedItem.acknowledgeReservation" name="acknowledgeReservation" />
                    </fieldset>

                    <div *ngIf="showAssignmentTip==1" class="col-xl-6"  style="font-size: small;">
                        Trucks, tractors, robots can receive assignments. 
                        Trailers, cameras and sensors usually do not receive assignments.
                    </div>

                    <div  *ngIf="showAssignmentTip==2" class="col-xl-6" style="font-size: small;">

                        Before a mission, agents receive a reservation request and should acknowlege their readiness. 
                        <br> Should helyOS wait for this acknowledgement before proceeding with a mission? 
                        Uncheck this box if this agent can receive consecutive assignments even while is busy.
                        
                    </div>


                </div>

                <div class="row" >

                    <fieldset class="form-group col-xl-4">
                        <label>Assignment data format</label>
                        <input type="text" class="form-control" [(ngModel)]="selectedItem.dataFormat"  name="dataFormat"
                        placeholder="e.g. Fhf-IVI" />
                    </fieldset>



                </div>

                </div>

                <br>

                <h5>RabbitMQ account</h5>
                <div class="field-group"> 
                    <div class="row">
                        <fieldset class="form-group col-xl-6">
                            <label>Protocol AMQP</label>
                        </fieldset>
                    </div>

                    <div class="row">
                        <fieldset class="form-group col-xl-6">
                            <label>Registration</label>
                            <select class="form-control" [disabled]="true" [(ngModel)]="selectedItem.allowAnonymousCheckin" name="allowAnonymousCheckin" (ngModelChange)="changeRegistration()">
                                <option [ngValue]="true"> Let helyOS create RabbitMQ account</option>
                                <option [ngValue]="false"> Set username and password </option>
                            </select>
                        </fieldset>
                    </div>

                    <div class="row" *ngIf="selectedItem.allowAnonymousCheckin">
                        <div class="col-xl-12">
                            <br>
                            <p> The agent can perform the check-in using the <i>anonymous</i> account *, 
                                helyOS will automatically create a RabbitMQ account and send the username and password to the agent. 
                            </p>
                            <p style="font-size: small;"> * (username, password) = (anonymous, anonymous). The agent must possess the AGENT_REGISTRATION_TOKEN.
                            </p>

                        </div>
                        
                    </div>

                    <div class="row" *ngIf="!selectedItem.allowAnonymousCheckin">

                            <fieldset class="form-group col-xl-6">
                                <label>username *</label>
                                <input class="form-control" [(ngModel)]="selectedItem.rbmqUsername"  (ngModelChange)="rbmqAccountChange=true"  name="rbmqUsername" 
                                    placeholder="0000-0000-0000-0000"  />
                            </fieldset>

                
                            <fieldset class="form-group col-xl-6">
                                <label> password </label>
                                <input class="form-control" [(ngModel)]="rbmqPassword" (ngModelChange)="rbmqAccountChange=true" name="rbmqPassword"
                                    placeholder="*********" 
                                    />
                            </fieldset>
                            <p style="font-size: small;" class="col-xl-12"> * helyOS will accept messages from this agent only if the username matches the uuid.
                            </p>

                    </div>


                </div>


                <h5>State Properties</h5>
                <div class="field-group"> 
                    <p> Status and connection fields are constantly updated by helyOS and agents. You can try to ascribe them a temporary value for debugging
                        purposes.</p>
                    <div class="row">

                        
                        <fieldset class="form-group col-xl-4">
                            <label>connection</label>
                            <select class="form-control" [(ngModel)]="selectedItem.connectionStatus" name="connectionStatus">
                                <option value="offline">offline</option>
                                <option value="online">online</option>
                            </select>
                        </fieldset>


                        <fieldset class="form-group col-xl-4">
                            <label>status</label>
                            <select class="form-control" [(ngModel)]="selectedItem.status" name="status">
                                <option value="free">free</option>
                                <option value="busy">busy</option>
                                <option title="for 'ready' you need to define the work process" value="ready">ready</option>
                            </select>
                        </fieldset>

                    </div>

                    <div class="row" *ngIf="selectedItem.status!=='free'">
                        <fieldset  class="form-group col-xl-8">
                            <label>Work process info (wp_clearance for status: {{selectedItem.status}})</label>
                            <textarea class="form-control" rows=4 [(ngModel)]="selectedItem.wpClearance" name="wpClearance"></textarea>
                        </fieldset>
                    </div>

                </div>


                <button class="btn btn-primary" type="submit" (click)="editItem(selectedItem)">Save</button>
                <button class="btn btn-secondary" type="reset" (click)="getItem(selectedItem.id)">Cancel </button>

            </form>

        </section>
    </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink>Interconnections</a>
            <ng-template ngbNavContent>
            <div style="margin: 10px auto; width: 66%;">
                <p> <b>"Interconnection"</b> refers to the establishment of a link or/and physical connection between two or more agents.
                     This enables the <i>leader agent</i> to publish message for its <i>follower agents</i>. 
                     For example, a truck (leader) can publish position
                     properties for an attached trailer (follower).
                </p>
            </div>
            
            <div class="card mb-3" style="margin: 10px auto; width: 66%;">
                <div class="card-header " style="display:flex;justify-content:space-between">
                    <div>Agents, trailers or tools connected as follower to {{selectedItem.name}}</div> 
                    <div class="clickable" style="width: fit-content;" (click)="interconnectionList()">
                        <span class="reload">&#x21bb;</span>
                        <span> RELOAD  </span>
                    </div>
                </div>
                <div class="tableFixHeadHideScrolled" ></div>
                <div class="tableFixHead  card-body table-responsive">
                    <table class=" table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Follower UUID</th>
                                <th>type</th>
                                <th>created</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let connect of interconnections">
                                <th scope="row">{{connect.id}}</th>
                                <td>{{connect.agentByFollowerId?.uuid}}</td>
                                <td>{{connect.agentByFollowerId?.agentType}}</td>
                                <td>{{connect.createdAt | date:'dd.MM.yy HH:mm:ss' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            
            </div>

            <div style="text-align: center; margin-bottom: 10px;">
                <button class="btn btn-primary"  (click)="addInterconnection()" type="submit">ADD CONECTION</button>
                <button class="btn btn-danger"  (click)="removeAllInterconnections()" type="submit">REMOVE ALL CONNECTIONS</button>
            </div>


        </ng-template>
        </li>
    </ul>
    
    
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
    
    