<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="#">helyOS Dashboard</a>
  <button (click)="toggleSidebar()" class="navbar-toggler" type="button">
    <!-- <span class="navbar-toggler-icon"></span> -->
    <i aria-hidden="true" class="fa-solid fa-bars text-secondary"></i>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="nav-link mt-1"
          href="javascript:void(0)"
          style="padding: 0.375rem 1rem !important; border-color: #999">
          version: {{ version }}
        </a>
      </li>
      &nbsp;
      <li class="nav-item">
        <a
          (click)="rltAndLtr()"
          class="nav-link mt-1"
          href="javascript:void(0)"
          style="padding: 0.375rem 1rem !important; border-color: #999">
          RTL/LTR
        </a>
      </li>
      &nbsp;

      <!-- <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                    <i class="fa-solid fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)">
                        {{ 'Pending Task' | translate }} <span class="badge badge-info">6</span>
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        {{ 'In queue' | translate }} <span class="badge badge-info"> 13</span>
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        {{ 'Mail' | translate }} <span class="badge badge-info"> 45</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)">
                        {{ 'View All' | translate }}
                    </a>
                </div>
            </li> -->
      <!-- <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                    <i class="fa-solid fa-language"></i> {{ 'Language' | translate }} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a (click)="changeLang('en')" class="dropdown-item" href="javascript:void(0)">
                        {{ 'English' | translate }}
                    </a>
                    <a (click)="changeLang('fr')" class="dropdown-item" href="javascript:void(0)">
                        {{ 'French' | translate }}
                    </a>
                    <a (click)="changeLang('ur')" class="dropdown-item" href="javascript:void(0)">
                        {{ 'Urdu' | translate }}
                    </a>
                    <a (click)="changeLang('es')" class="dropdown-item" href="javascript:void(0)">
                        {{ 'Spanish' | translate }}
                    </a>
                    <a (click)="changeLang('it')" class="dropdown-item" href="javascript:void(0)">
                        {{ 'Italian' | translate }}
                    </a>
                    <a (click)="changeLang('fa')" class="dropdown-item" href="javascript:void(0)">
                        {{ 'Farsi' | translate }}
                    </a>
                    <a (click)="changeLang('de')" class="dropdown-item" href="javascript:void(0)">
                        {{ 'German' | translate }}
                    </a>
                    <a (click)="changeLang('zh-CHS')" class="dropdown-item" href="javascript:void(0)">
                        {{ 'Simplified Chinese' | translate }}
                    </a>
                </div>
            </li> -->
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
          <i class="fa-solid fa-user"></i> Administrator
          <b class="caret"></b>
        </a>
        <div class="dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">
            <i class="fa-solid fa-fw fa-user"></i>
            {{ 'Profile' | translate }}
          </a>
          <a class="dropdown-item" href="javascript:void(0)">
            <i class="fa-solid fa-fw fa-gear"></i>
            {{ 'Settings' | translate }}
          </a>
          <a (click)="onLoggedout()" [routerLink]="['/login']" class="dropdown-item">
            <i class="fa-solid fa-fw fa-power-off"></i>
            {{ 'Log Out' | translate }}
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
