$topnav-background-color: #222;

:host {
  .navbar {
    background-color: $topnav-background-color;

    --bs-navbar-padding-x: 1rem;

    .navbar-brand {
      color: #fff;
      width: 235px;
    }

    .nav-item > a {
      color: #999;

      &:hover {
        color: #fff;
      }
    }

    .ml-auto {
      margin-left: auto;
    }
  }

  .messages {
    width: 300px;

    .media {
      border-bottom: 1px solid #ddd;
      padding: 5px 10px;

      &:last-child {
        border-bottom: none;
      }
    }

    .media-body {
      h5 {
        font-size: 13px;
        font-weight: 600;
      }

      .small {
        margin: 0;
      }

      .last {
        font-size: 12px;
        margin: 0;
      }
    }
  }
}
