.service-detail-container {
  border-radius: 10px;
  border: solid 0.5px lightgray;
  padding: 20px;
}

p {
  line-height: 1.3;
}

.disable-row {
  --bs-table-color: gray !important;
}

.click-show {
  cursor: pointer;
  color: blue;
}

.assignment-row {
  --bs-table-bg: rgba(154, 195, 246, 0.6);
}

.mapserver-row {
  --bs-table-bg: rgba(197, 224, 180, 0.6);
}

.storage-row {
  --bs-table-bg: rgba(230, 230, 230, 0.6);
}
