.sensor-progress-container{
    display: flex;
    height: 1.2rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.sensor-progress-label{
    margin: auto 6px;
    height: 1.2rem;

}

.sensor-progress-bar {
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #007bff;
    transition: width 0.6s ease;
}