<div class="row" style="justify-content: space-between">
  <h1 class="w-auto">Dispatched Missions</h1>
  <div class="w-auto" style="text-align: right; margin-bottom: 6px">
    <button class="btn btn-lg btn-outline-dark" (click)="openDocs()">
      Documentation
    </button>
  </div>
</div>

<div class="card mb-3">
  <div
    class="card-header"
    style="display: flex; justify-content: space-between">
    <div class="clickable" (click)="filterList(0)">
      <span class="reload">&#x21bb;</span>
      <span> RELOAD </span>
    </div>
    <div>
      <span class="clickable" (click)="filterList(-1)"> &#8810; previous </span>
      | {{ page }} |
      <span class="clickable" (click)="filterList(1)">next &#8811;</span>
    </div>
  </div>

  <div class="table-fix-head-hide-scrolled"></div>
  <div class="table-fix-head card-body table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Mission Type</th>
          <th>Yard ID</th>
          <th>Agent IDs</th>
          <th>created</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of wProcesses"
          (click)="getItem(item.id)"
          [ngClass]="{
            'selected-highlight': item.id === selectedItem?.id,
          }">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.workProcessTypeName }}</td>
          <td>{{ item.yardId }}</td>
          <td>{{ item.agentIds }}</td>
          <td>{{ item.createdAt }}</td>
          <td>{{ item.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div style="text-align: right; margin-bottom: 10px">
  <button
    class="btn btn-primary"
    style="width: 100px"
    (click)="create()"
    type="submit">
    Create
  </button>
  <button
    [disabled]="!selectedItem"
    class="btn btn-outline-primary"
    (click)="duplicate()"
    type="submit">
    Duplicate
  </button>
  <button
    class="btn btn-secondary"
    style="background-color: green"
    [disabled]="
      !(selectedItem?.workProcessTypeName && selectedItem?.yardId) ||
      selectedItem?.status !== 'draft'
    "
    (click)="editItem(selectedItem, 'dispatched')"
    type="submit">
    Dispatch Mission
  </button>
  <button
    [disabled]="!selectedItem"
    class="btn btn-danger"
    (click)="cancelMission(selectedItem)"
    type="submit">
    Cancel Mission
  </button>
</div>

<div *ngIf="selectedItem">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Mission Details</a>
      <ng-template ngbNavContent>
        <section class="detail-container">
          <h4>ID: {{ selectedItem.id }}</h4>

          <div role="form" style="margin: 0 auto; max-width: 1000px">
            <div class="row">
              <fieldset class="form-group col-xl-4">
                <label for="workProcessTypeName">Work type </label>
                <input
                  id="workProcessTypeName"
                  class="form-control"
                  [(ngModel)]="selectedItem.workProcessTypeName"
                  name="workProcessTypeName"
                  [ngModelOptions]="{ standalone: true }" />
              </fieldset>

              <fieldset class="form-group col-xl-4">
                <label for="yardId">Yard id </label>
                <input
                  id="yardId"
                  class="form-control"
                  [(ngModel)]="selectedItem.yardId"
                  name="yardId"
                  [ngModelOptions]="{ standalone: true }" />
              </fieldset>

              <fieldset
                class="form-group col-xl-4"
                title="Array with the database ids, not the UUIDs.">
                <label for="agentIds">Agent Ids</label>
                <input
                  id="agentIds"
                  class="form-control"
                  [(ngModel)]="selectedItem.agentIds"
                  name="agentIds"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="e.g. [2, 4, 5]" />
              </fieldset>
            </div>

            <div class="row">
              <!-- <div class="form-group col-xl-4">
                            <label for="dp">Scheduled to start not before</label>

                            <div class="input-group datepicker-input">
                                <input id="dp" [hidden]="!showInput"
                                    #d="ngbDatepicker"
                                    [(ngModel)]="selectedItem.schedStartAt"
                                    [ngModelOptions]="{standalone: true}"
                                    class="form-control"
                                    name="dp"
                                    ngbDatepicker
                                    placeholder="yyyy-mm-dd"
                                />
                                <input *ngIf="!showInput" type="text" [value]="selectedItem.schedStartAt" readonly>
                                <button (click)="d.toggle(); showInput=true" class="input-group-addon" type="button">
                                    <span class="fa fa-calendar"></span>
                                </button>
                            </div>
                        </div>

                        <ngb-timepicker [hidden]="!selectedItem.schedStartAt" [(ngModel)]="selectedItem.schedStartAt"></ngb-timepicker> -->

              <fieldset class="form-group col-xl-2">
                <label for="missionQueueId">Mission Queue ID</label>
                <input
                  id="missionQueueId"
                  type="number"
                  class="form-control"
                  [(ngModel)]="selectedItem.missionQueueId"
                  name="missionQueueId" />
              </fieldset>

              <fieldset
                class="form-group col-xl-2"
                title="blank is assigned to the last position">
                <label for="runOrder">Run order</label>
                <input
                  id="runOrder"
                  type="number"
                  class="form-control"
                  [(ngModel)]="selectedItem.runOrder"
                  name="runOrder"
                  [readonly]="!selectedItem.missionQueueId" />
              </fieldset>

              <fieldset class="form-group col-xl-2">
                <label for="status">Status</label>
                <select
                  id="status"
                  class="form-control form-select"
                  [ngModel]="selectedItem.status"
                  (change)="onStatusChange($event)"
                  name="status">
                  <option value="draft">draft</option>
                  <option value="cancelling">cancelling</option>
                  <option value="succeeded">succeeded</option>
                  <option value="dispatched" disabled>dispatched</option>
                  <option value="canceled" disabled>canceled</option>
                  <option value="running" disabled>running</option>
                </select>
              </fieldset>
            </div>

            <div class="row">
              <fieldset class="form-group col-xl-6">
                <label for="onAssignmentFailure"
                  >Action on assignment failure</label
                >

                <select
                  id="onAssignmentFailure"
                  class="form-control"
                  [(ngModel)]="selectedItem.onAssignmentFailure"
                  name="onAssignmentFailure">
                  <option value="DEFAULT">
                    to be defined by mission recipe
                  </option>
                  <option value="FAIL_MISSION" title="FAIL">
                    fail the mission
                  </option>
                  <option value="CONTINUE_MISSION" title="CONTINUE">
                    continue mission
                  </option>
                  <option value="RELEASE_FAILED" title="RELEASE_FAILED">
                    immediately release the failed agent
                  </option>
                </select>
              </fieldset>

              <fieldset
                class="form-group col-xl-6"
                title="Fallback mission when failed agent is released.">
                <label for="fallbackMission">Fallback mission </label>
                <select
                  id="fallbackMission"
                  class="form-control form-select"
                  [(ngModel)]="selectedItem.fallbackMission"
                  name="fallbackMission">
                  <option [value]="''">---- ----</option>
                  <ng-container
                    *ngIf="
                      selectedItem.onAssignmentFailure === 'RELEASE_FAILED'
                    ">
                    <option
                      *ngFor="let missionName of availableMissions"
                      [value]="missionName">
                      {{ missionName }}
                    </option>
                  </ng-container>
                </select>
              </fieldset>
            </div>

            <div class="row">
              <fieldset class="form-group col-xl-12">
                <label for="data"> JSON Request data </label>
                <textarea
                  id="data"
                  class="form-control"
                  [(ngModel)]="selectedItem.data"
                  name="data"></textarea>
              </fieldset>
            </div>

            <div class="row">
              <fieldset class="form-group col-xl-12">
                <label for="operationTypesRequired">
                  Optional: Specify Required Operations for Reserved Agents
                </label>
                <input
                  id="operationTypesRequired"
                  class="form-control"
                  type="text"
                  [(ngModel)]="operationTypesRequired"
                  name="operationTypesRequired" />
                <small class="form-text text-muted">
                  Enter the names, separate operation types with a comma (,), of
                  the operations needed for the agent to be prepared upon
                  reservation.</small
                >
              </fieldset>
            </div>

            <div class="row" style="justify-content: space-between">
              <div class="w-auto">
                <button
                  class="btn btn-primary"
                  type="submit"
                  (click)="editItem(selectedItem, 'draft')">
                  Save
                </button>
                <button
                  class="btn btn-secondary"
                  type="reset"
                  (click)="getItem(selectedItem.id)">
                  Cancel
                </button>
              </div>
              <div class="w-auto">
                <button
                  class="btn btn-secondary"
                  style="background-color: green"
                  type="submit"
                  [disabled]="
                    !(selectedItem.workProcessTypeName && selectedItem.yardId)
                  "
                  (click)="editItem(selectedItem, 'dispatched')">
                  Dispatch Mission
                </button>
              </div>
            </div>
          </div>
        </section>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Assignments</a>
      <ng-template ngbNavContent>
        <div class="card mb-3">
          <div
            class="card-header"
            style="display: flex; justify-content: space-between">
            <div>
              Assignments of the mission
              {{ selectedItem.workProcessTypeName }}
            </div>
            <div
              class="clickable"
              style="width: fit-content"
              (click)="assignmentList()">
              <span class="reload">&#x21bb;</span>
              <span> RELOAD </span>
            </div>
          </div>
          <div class="table-fix-head-hide-scrolled"></div>
          <div class="table-fix-head card-body table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Agent ID</th>
                  <th>started</th>
                  <th>status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let assg of assignments">
                  <th scope="row">{{ assg.id }}</th>
                  <td>{{ assg.agentId }}</td>
                  <td>
                    {{ assg.startTimeStamp | date: "dd.MM.yy HH:mm:ss" }}
                  </td>
                  <td
                    [ngStyle]="{
                      color: assg.status !== 'completed' ? 'red' : 'green',
                    }">
                    {{ assg.status }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
