name: Build and Push to Docker Hub
on:
  push:
    tags:
      - '*.*.*'

jobs:
  build-and-push:
    if: github.event.base_ref == 'refs/heads/master' || github.event.base_ref == 'refs/heads/test-ci'
    runs-on: ubuntu-latest
    steps:
        
      - name: Get repository tag  
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Print the release version
        run: echo "Release version is ${{ env.RELEASE_VERSION }}"

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          file: ./packaging/Dockerfile
          push: true
          tags: |
            helyosframework/helyos_core:${{ env.RELEASE_VERSION }}
          platforms: linux/amd64,linux/arm/v7,linux/arm64 # Bug https://github.com/nodejs/docker-node/issues/1335

